<!DOCTYPE html>
<html>
  <head>
    <title>My test webpage</title>
    {% include 'bootstrap.html' %}
  </head>
  <body>
    <div class="container">
    <h1>{{my_name}}</h1>
    <img src = "https://testFlask.ihorzhyvchyn.repl.co/static/banner.jpg" height = "320">
    <h2>Невеличкий опис сайту.</h2>
      <div>
        {% for job in jobs %}
          {% include 'jobitem.html' %}
        {% endfor %}
      </div>
      
    <p>Туду ліст</p>
    <button>Чмак</button>
    </div>
    {%include 'footer.html'%}
       
  </body>
</html> 